*,
*::before,
*::after {
  scroll-behavior: smooth;
}


.acuminRegular {
  font-family: "acumin-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.acuminProBold {
  font-family: "acumin-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.spaceGrotesk {
  font-family: 'Space Grotesk', sans-serif;
}

.buttonBlue{
  background-color: #3359b9;
}

.blueBG {
  background: rgb(51,89,185);
  background: radial-gradient(circle, rgba(51,89,185,1) 0%, rgba(41,71,148,1) 100%);
}

.purpleBG {
  background-color: #8D5E9F;
}

.ofscGreen {
  background-color: #C7DBCC;
}

#buttonPurple{
  background-color: #8D5E9F;
  border: 2px solid #9b72ab;
}

#buttonPurple:hover{
  background-color: #3359B9;
  border: 2px solid #5879cc;
  text-underline-offset: 0.25em;
  text-decoration: underline;
}



.textPurple {
  color: #8D5E9F
}

.hamburger {
  cursor: pointer;
  width: 3rem;
  height: 3rem;

  transition: all 0.25s;
}

.hamburger__top-bun,
.hamburger__bottom-bun {
  content: '';
  position: absolute;
  width: 3rem;
  height: 4px;
  transform: rotate(0);
  transition: all 0.5s;
  margin-top: 1.5rem;
  margin-left: 0.5rem;
}

.hamburger__top-bun {
  transform: translateY(-5px);
}

.hamburger__bottom-bun {
  transform: translateY(3px);
}

.open {

  transform: translateY(-1px);
}

.open .hamburger__top-bun {
  transform:
    rotate(45deg) translateY(0px);
}

.open .hamburger__bottom-bun {
  transform:
    rotate(-45deg) translateY(0px);
}

*:hover {
  transition: all 400ms ease;
}

.TAGS-SKILLS {
  width: 379px;
  top: 175px;
  left: -103px;
  display: flex;
  height: 30px;
  align-items: center;
  gap: 15px;
  position: absolute;
}

.div-wrapper-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 8px;
  position: relative;
  flex: 0 0 auto;
  background-color: #d9d9d9;
  border-radius: 8px;
}

.TAGS-INTERESTS {
  width: 342px;
  top: 156px;
  left: -156px;
  display: flex;
  height: 30px;
  align-items: center;
  gap: 15px;
  position: absolute;
}

.overlap-wrapper {
  width: 1135px;
  height: 450px;
  top: 937px;
  left: 29px;
}





.wide-home .line {
  top: 0;
  position: absolute;
  width: 60px;
  height: 1px;
  left: 0;
}

.wide-home .img {
  top: 15px;
  position: absolute;
  width: 60px;
  height: 1px;
  left: 0;
}

.wide-home .line-2 {
  top: 30px;
  position: absolute;
  width: 60px;
  height: 1px;
  left: 0;
}

.wide-home .des-icon-grey {
  position: absolute;
  width: 110px;
  height: 110px;
  top: 30px;
  left: 30px;
  object-fit: cover;
}

.wide-home .p {
  position: absolute;
  top: 119px;
  left: 159px;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.wide-home .overlap {
  position: absolute;
  width: 978px;
  height: 683px;
  top: 329px;
  left: 370px;
}

.wide-home .group-2 {
  position: absolute;
  width: 202px;
  height: 232px;
  top: 246px;
  left: 0;
}

.wide-home .text-wrapper-2 {
  position: absolute;
  top: 212px;
  left: 53px;

  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.wide-home .ellipse {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 50%;
}

.wide-home .overlap-group {
  position: absolute;
  width: 851px;
  height: 683px;
  top: 0;
  left: 127px;
}

.wide-home .overlap-2 {
  position: absolute;
  width: 723px;
  height: 683px;
  top: 0;
  left: 128px;
}

.wide-home .text-wrapper-3 {
  position: absolute;
  top: 212px;
  left: 57px;

  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.wide-home .overlap-group-wrapper {
  position: absolute;
  width: 523px;
  height: 554px;
  top: 129px;
  left: 200px;
}

.wide-home .overlap-group-2 {
  position: relative;
  height: 554px;
}

.wide-home .ellipse-2 {
  position: absolute;
  width: 352px;
  height: 352px;
  top: 0;
  left: 171px;
  background-color: #e3813bcc;
  border-radius: 176px;
}

.wide-home .ellipse-3 {
  position: absolute;
  width: 267px;
  height: 267px;
  top: 287px;
  left: 204px;
  background-color: #8d5e9fcc;
  border-radius: 133.5px;
}

.wide-home .ellipse-4 {
  position: absolute;
  width: 267px;
  height: 267px;
  top: 236px;
  left: 0;
  background-color: #d06b77cc;
  border-radius: 133.5px;
}

.wide-home .group-3 {
  position: absolute;
  width: 202px;
  height: 232px;
  top: 0;
  left: 127px;
}

.wide-home .text-wrapper-4 {
  position: absolute;
  top: 212px;
  left: 65px;

  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.wide-home .group-4 {
  position: absolute;
  width: 202px;
  height: 232px;
  top: 0;
  left: 0;
}

.wide-home .text-wrapper-5 {


  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.wide-home .FADX-is-the-faculty {
  position: absolute;
  width: 1135px;
  top: 194px;
  left: 29px;

  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.wide-home .group-5 {
  position: absolute;
  width: 202px;
  height: 232px;
  top: 329px;
  left: 242px;
}